@import "tailwindcss";

/* styles/globals.css */
@font-face {
  font-family: 'FKGroteskSemiMono';
  src: url('/fonts/FKGroteskSemiMonoTrial-Regular.9275a60.woff2') format('woff2');
  font-weight: 400; /* adjust if needed */
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'FKGroteskSemiMono', sans-serif;
  background: #fffff8;
}

